beautifulsoup4
requests
python-dotenv
PyPDF2
rich
moviepy==1.0.3
gTTS
google-api-python-client
pydrive
pydub
streamlit
torch 
torchvision 
torchaudio
transformers
streamlit-marquee
googletrans==3.1.0a0
gdown